<div class="container-fluid container-sm seccionInfo">
  <div class="seccionTitulo">
    <h2>Educación:</h2>
    <app-boton-agregar 
        ></app-boton-agregar>
  </div>
  <div class="container.fluid">  
    <div style="display: flex; align-items: center; justify-content: center;"
    class="row">
      <app-establecimiento
      *ngFor="let establecimiento of establecimientos"
      [establecimiento] = "establecimiento"
      class="col-auto"
      (onDeleteEstablecimiento)="deleteEstablecimiento(establecimiento)"
      ></app-establecimiento>
    </div>
  </div>
</div>
