<div class="container-fluid container-sm seccionInfo">
    <div class="seccionTitulo">
        <h2>Experiencia:</h2>
        <app-boton-agregar 
        color="{{showaddTrabajo ? 'red' : 'green'}}"
        text="{{showaddTrabajo ? 'Cerrar' : 'Agregar trabajo'}}"
        (btnClick)="toggleAddTrabajo()"
        ></app-boton-agregar>
    </div>
    <app-agregar-trabajo
    (onAddTrabajo)="addTrabajo($event)"
    ></app-agregar-trabajo>
    <div>
        <app-trabajo
        *ngFor="let trabajo of trabajos"
        [trabajo] = "trabajo"
        (onDeleteTrabajo)="deleteTrabajo(trabajo)"
        ></app-trabajo>
    </div>
</div>
